[submodule "NeuroTorch"]
	path = NeuroTorch
	url = https://github.com/kiriclope/NeuroTorch/
	branch = odr_paper
[submodule "LIF"]
	path = LIF
	url = https://github.com/kiriclope/SPINN/
	branch = odr_paper
[submodule "Rate"]
	path = Rate
	url = https://github.com/kiriclope/NeuroTorch/
	branch = odr_paper
[submodule "Behavior"]
	path = Behavior
	url = git@github.com:kiriclope/nb_stim_data.git
	branch = odr_paper
